.page {
  padding: 20px 20px 100px;
  display: grid;
  gap: 6px;
}

.title {
  margin: 0;
  color: var(--text-h);
  font-size: 20px;
  font-weight: 800;
}

.description {
  margin: 0 0 14px;
  color: var(--text);
  font-size: 13px;
  line-height: 1.4;
}
